.name{
    font-size: 4rem;
    color: var(--primary-text-color);
    font-weight: 800;
    text-align: left;
}

.role{
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    margin-top: -40px;
    text-align: left;
}

.bio{
    font-size: 1.1rem;
    color: var(--third-text-color);
    margin-top: -10px;
    font-weight: 500;
    text-align: left;
}


.left, .right, .center{
    width: 400px;
    height: auto;
    margin-top: 0px;
    position: relative;
}

.projectsContainer{
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.projectsContainerBottom{
    width: calc(200% + 2px);
    height: 250px;
    top: 0;
    left: 0;
    translate: 0px -250px;
    background: linear-gradient(to bottom, transparent 0%, transparent 50%,  var(--primary-color) 100%);
    pointer-events: none;
}

.usesContainer{
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    position: relative;
}

.seeMore{
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: calc(250px - 3.6rem + 35px);
    text-align: center;
    pointer-events: all;
}

.seeMore::after{
    content: "";
    padding: 1px 60px 1px 10px;
    background: linear-gradient(to right, var(--third-text-color) 50%, var(--primary-text-color) 50%);
    background-size: 150px;
    background-position-x: 0px;
    width: 5px;
    display: block;
    transform: translateX(-50%) translateY(5px);
    margin-left: 50%;
    transition-duration: 0.2s;
}

.seeMore:hover::after{
    background-position-x: 75px;
}

.seeMore:hover{
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .name{
        text-align: center;
    }

    .role{
        text-align: center;
    }

    .bio{
        text-align: center;
    }

    .usesContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .usesContainer{
        gap: 10px;
    }

    .bio{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}