.container{
    width: 0%;
    height: 1px;
    background-color: hsl(212, 52%, 37%);
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 6;
}

.containerAnimate{
    animation: loadAnim 1s;
}

@keyframes loadAnim {
    0%{
        width: 0%;
    }

    100%{
        width: 100vw;
    }
}