.footer{
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    border-top: 1px solid var(--primary-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 0px;
}

.bio{
    color: var(--third-text-color);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.signature{
    color: white;
}